
/* The typing effect */
@keyframes typing {
    from {
      width: 0;
    }
  
    to {
      width: 100%;
    }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
  
    from,
    to {
      border-color: transparent;
    }
  
    50% {
    
   
    }
  }
  .blogging >p{
      color: white;
      text-align: center;
      margin-top: -2.5rem;
      font-size: 1.5rem;

  }

  .blogging>h1 {
    font-family: var(--primaryfont);
    font-size: 7rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
   
    
  
    overflow: hidden;
    border-right: 0.15em solid orange;
   white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
    animation: typing 5.5s steps(40, end), blink-caret 0.75s step-end infinite;
  }
  


#allposts{
  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

   
  
  
    
  
  
    
  }

  .posts{
    display: flex;
    flex-direction: row;
    outline: thin solid blue;

    
  }
  
  
  .post{
    font-family: var(--primaryfont);
    display: flex;
    flex-direction: column;
   
    width: 24%;
    min-height: 60vh;
    
    background-color: white;   
  
    margin-left: 2%;  
    margin-top: 1%;
    
  
    border-radius: 12px;       
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.404);
    margin-bottom: 2rem;
  }
  
  
  .post:hover{
  
    transform: scale(1.05);
  }

  .overlay-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100%;
    background-color: #141e30c5;



}
header{
 
  background-image: url(../assets/image/img/back-imagejpg.jpg);
  height:70vh;
  background-size: cover;
}
  .blogging{
    position: absolute;
    top:8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   
    
  
    width: 100%;
    height: 60vh;

  }
  .blogging >h1{
    color: rgba(148, 187, 233, 1);
    text-align: center;

   
 
   
  }

  
  .search::placeholder {
    opacity: 1;
  }
  .search:focus {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    width: 15vw;
  }

  .search{
      outline: thin solid blue;
      width: 7rem;
      height: 5vh;
      align-items: flex-end;
      margin-left: 3rem;
      border-radius: 10px;

      margin-right: 1rem;
      border: 0;
      border-radius: 10px;
    
     
      font-weight: 500;
      padding: 0rem 0.5rem;
      color: #141E30;
      font-weight: bolder;
      font-family: var(--primaryfont);
      font-size: 1.5rem;
      
      transition: all 0.3s linear;
      border-color: 5px solid #243B55;
      margin-top: 3rem;
    
  }

  .nopost{
    padding: 2rem;
    color: black !important;

  }
    
  
  
  .post img{
    width: 100%;
    max-width: auto;
    
    height: 28vh;
    max-height: auto;
   
    
    margin-top: -0.1rem;
    border-radius: 5px;
   
    
    
  }
  
  .post > button{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.404);
    width: 25%;
    height: 9%;
    border: 0;
    
    
    background-color: #243B55;
    color: white;
    font-weight: bolder;
  
    margin-top: 5%;
    margin-bottom: 0.5rem;
    
    font-size: 15px;
   
    margin-left: 3%;
    border-radius: 5px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
  
  }
  .post > button:hover{
    background-color: rgba(238, 174, 202, 1);
    color: white;
    transition: all 0.3s linear;
  }
  
  .title{
    
    font-weight:bolder;
    color: rgba(148, 187, 233, 1);
    font-size: 1.7rem !important;
     margin-bottom: 0.5rem;
    padding-left: 15px;
    word-break: break-all;
    max-width: 80%;
    margin-top: 1rem;
    font-family: var(--primaryfont);
    line-height: 20px;
   
  
  }
  .hook{
    padding-left: 3%;
    padding-right: 3%;
    font-weight: lighter;
  
 
    word-break: break-all;
  
    margin-bottom: 0;
    font-family: var(--primaryfont);
    font-size: 1.5rem !important;
    line-height: 15px;
    
    max-width: 100%;
    margin-top: 1rem;
    height: 12vh;
    
  }
  
  .fa-angle-right{
    font-size: 25px;
    
  }
  

  .dashboard{
    position: relative;

  }
  .load {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
  }
  .load-text{
    color: #243B55;
    font-size: 1.2rem;
  }
  
  .loading {

    border: 8px solid  #243B55;
    border-radius: 50%;
    border-top: 8px solid white;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  /* Safari */
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
