.fhire{
  top: 0rem;
 
  background: linear-gradient(to right, #243B55, #141E30);
  

 

}

#jobhire{
  width: 20vw;
  height: 20vh;
}
input{
  font-size: 1.3rem;
  width: 20vw;
}
textarea{
  font-size: 1.3rem;
  height: 24vh;
  background-color: white !important;
  text-align: center;
  margin-bottom: 1rem;
}
.intro{
    
    height: 77vh ;
    display: flex;
    flex-direction: row;
    width: 60%;
  outline: thin solid red;
  display: flex;
  justify-content: center;
  align-items: center;
   


  
    
}
.allhire{
  top: 10px;
 
  background: linear-gradient(to right, #243B55, #141E30);
  width: 100%;
  position: absolute;
  height: 85vh;

  display: flex;
  justify-content: center;
}
.name{
    
    width: 20%;
    padding: 2rem;
    padding-top: 5rem;
 
}
.name > h1{
    color: rgba(148, 187, 233, 1);
    font-family: var(--primaryfont);
    font-size: 3.5rem;
    margin-top: -1.5rem;


}
.occ{
    color: white;
    font-weight: bolder;
    margin-top: -1.5rem;
    font-family: var(--primaryfont);
      font-size: 1.5rem;

}
.descr{
    color: rgba(255, 255, 255, 0.719);
    font-weight: lighter;
    margin-top: 1rem;
 
    
    width: 90%;
 
    line-height: 26px;
    font-family: var(--primaryfont);
      font-size: 1.5rem;
}
.image-hire img{
    height: 90%;
    width: 80%;
    margin-right: 2rem;
    margin-top: 3.5rem;
    
    align-items: center;
    
 
 
    
}


.nav-hire{

  z-index: 100;
  background-color: white !important;
}
.navigation-bar{
  background: linear-gradient(to right, #243b5500, #141e3000);
 
}
.nav-ul{
  color: #141E30;
  font-weight: bolder;
}


  
  #hire-me > h1{
    margin-top: 4rem;
    font-family: var(--primaryfont);
    font-size: 3rem !important;
    font-size: 1.5rem;
   
    color: rgba(148, 187, 233, 1);
    
  }
  input[type="email"],
  input[type="text"] {
  height: 30px;

  border: 0;
  outline: 0;
 
  border-radius: 5px;
  height: 6vh;
  color: black;
  padding-left: 0.5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
 
    
 
  
  }
  .form-control{
      background-color: rgba(0, 0, 0, 0);
      
}
  textarea{
    color: white;
      margin-left: 0rem;
      margin-top: 0 !important;
    
     
  }
  .job{
      display: flex;
      flex-direction: column;
  }
  .form-group > label{
    color: rgba(148, 187, 233, 1);
    font-weight: bolder;
    font-family: var(--primaryfont);
      font-size: 1.5rem;
      

}


.occname{
    height: 0.3rem;
    background-color: rgba(148, 187, 233, 1);
    border: 0;
    border-radius: 10px;
    margin-top: 0.5rem;
    width: 5vw;
}

.education >h1{
  color: #141E30;
  text-align: center;
  
}
.education{
  margin-top: 3rem;
  font-family: var(--primaryfont);
  font-size: 30px;
}
.institution{
  margin-left: 32rem;
 
  font-family: var(--primaryfont);
  

}
.institution > p{
  color: #141E30;
  font-weight: bolder;
  font-size: 30px;
}
.education > h3{
  color: #141E30;
  margin-left: 20rem;
  margin-top: 2rem;
}
.education > h4{
  color: #141E30;
  margin-left:38rem;
}

.courses{
  margin-left: 35rem;

}

.projects{
  height: 2rem;
    background-color: rgba(148, 187, 233, 1);
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);

    width: 5vw;
    border: 3px solid rgba(148, 187, 233, 1);
    font-family: var(--primaryfont);
    font-size: 1.5rem;
    margin-left: 1rem;
    color: white;
    font-weight: bolder;
    margin-bottom: 0.5rem;
}
.course{
  color: #141E30;
  font-weight: bolder;
  padding: 1rem;
  font-size: 28px;
}
.image{
  height: 20vh;
}

.overview{
  padding: 1rem;
  font-size: 25px;
  line-height: 20px;

}
.CI{
  width: 21%;
  display: flex;
    flex-direction: column;
   
    max-width: 24%;
    min-height: 40vh;
    
    background-color: white;   
    margin-left: 2%;  
    margin-top: 1%;
    
  
    border-radius: 12px;       
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.404);
    margin-bottom: 2rem;
}
.year1{
  margin-left: 7rem;
  display: flex;
  flex-direction: row;
}

.emp, .company, .period{
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.employment{
  display: flex;
  flex-direction: row;
  font-family: var(--primaryfont);
  font-size: 30px;
  margin-left: 15rem;
}
.btn-primary{
  font-size: 1.5rem;

}

.resume{
  background-color: #141E30;
  color: white;
  font-weight: bolder;
  height: 2.5rem;
  width: 5rem;
  border-radius: 10px;
  margin-left: 35rem;
  margin-top: 2rem;
  font-size: 1.5rem;
}

.experience{
  color: #141E30;
  text-align: center;
  font-family: var(--primaryfont);
  font-size: 50px;
  margin-top: 5rem;
}



















.parent-hire{
 
  display: flex;
  justify-content:space-around;
  position: relative;
  top: 15%;
}

.intro-hire{
  width: 25%;
  display: flex;
  flex-direction: column;
}

.parent-hire h1{
  margin-top: 5rem;
}

.parent-hire img{
  margin-top: 3rem;
  height: 100%;
  width: 90%;
}



