#login{
  background: linear-gradient(to right, #243B55, #141E30);
  background: linear-gradient(to right, #243B55, #141E30);
  position: absolute;
  top: 10rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  gap: 1rem !important;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#loggingin{
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
}

.form-control{
  width: 65% ;
  text-align: center;
  border-radius: 5px;
  border: 0;


}
.form-control:focus{
  border: 0 !important;
  outline: none;

}
.btn-primary{
  width: 65% ;
}
.donthaveanaccount{
  color: white;
  font-size: 1.5rem;
}
.signinhere{
  color: rgba(148, 187, 233, 1);
  font-size: 2rem;
  font-weight: bolder;
}

#login h1{
  color: white;
}

@media (max-width: 480px){
  #login{
    width: 90%;
    top: 7rem;
  
  }
  .btn-primary{
    width: 65% !important ;
  } 
   footer{
    top: 1rem !important;
  }
 
  #loggingin{
    margin-bottom: 5rem !important;
  }
  .form-control{
    height: 6vh;
  }


}
@media (min-width: 481px) and (max-width: 768px){
  #login{
    width: 70%;
    
  }
  footer{
    margin-top: 1rem !important;
  }
 

}
@media (min-width: 769px) and (max-width: 1024px){
  #login{
    width: 70%;
    
  }
  footer{
    margin-top: 7rem !important;
  }
 

}