*{
  
}

header{
  
  
  height: 5vh !important;
}

.overlay-header{
  outline: thin solid green !important;
}
.articleandcomment{
 
  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -30rem;
  margin-bottom: 5rem;

  
 

}
.readingallarticle{
  width: 50%;
  font-size: 1rem;

}
#header{
  color: #243B55;
}
#hook{
  font-size: 1.5rem;
}
#blodetail{

  font-size: 1.5rem !important;
  margin-bottom:  0 !important;
}
#image{
  width: 100%;
}

.test{
  display: flex;
  flex-direction: column !important;
  width: 50%;
  gap: 0.5rem;

}
.engage{
  outline: thin solid red;
}
.comment{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  position: relative;
  top: 5rem;
 
  
}
#commentname{
  text-align: center;
  border:  2px solid rgba(148, 187, 233, 1);
  width: 20vw;
  
}
#commentemail{
  text-align: center;
  border:  2px solid rgba(148, 187, 233, 1);
  width: 20vw;

}
#commentmessage{
  text-align: center;
  width: 20vw;
  border:  2px solid rgba(148, 187, 233, 1);

}

#user-comment{
   word-break: break-all;
  margin-top: 5rem;
  width: 50%;
  font-size: 1.2rem;
}
 h3{
  font-size: 1.7rem;
}
.sending{
  background-color:  rgba(148, 187, 233, 1);
  width: 20vw;
  border: 0;
  color: white;
  height: 5vh;
  font-size: 1.5rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

