@media screen and (max-width: 1028px) {
    .afterheader {
        flex-direction: column;
        justify-content: center;
    }

    .intro {
        justify-content: center;
        margin-bottom: 0;
    }

    .introname {
        width: 100%;
        justify-content: center;
        margin-bottom: 2rem;
    }

    .occupation>p {
        width: 60%;

    }

    .picandexp {
        height: auto;
        margin-bottom: 0;
        padding-bottom: 0;
        height: unset;
    }

    .group2 {
        margin-bottom: 0;
    }

    .btnr {
        width: 200px;
    }

    .footer {
        padding: 1rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        width: 100vw;
    }

    .linksconnect {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sub {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sub>form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sub>form>.btn {
        width: 200px;
    }

    .hiring {
        width: 200px;
    }

    .send {
        width: 200px;
    }

}




@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

    .imageintro > img{
        margin-top: 45rem;
        margin-left: 0rem;
    }
    /* .afterheader{
        display: none;

    } */


    .intro{
        display: flex;
        flex-direction: column;
        margin-top: 30rem;
    }
    .exper{
        display: none;
    }
    .imagediscover > img{
        width: 150px;
        height: 200px;
        border-radius: 50%;
    }
    .imagediscover{
        display: flex;
        flex-direction: row;
      
    }
    .mobile{
        background: linear-gradient(to right, #243B55, #141E30);
    }
    .text{
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
        color: rgba(148, 187, 233, 1);
        font-weight: bolder;
    }
    .myarts{
        margin-top: -2rem;
        font-size: 40px;
        font-family: var(--primaryfont);
    }
    .discover{
        margin-top: 2rem;
        font-size: 50px;
        font-family: var(--primaryfont);

    }
    .Iam{
        color: white;
        font-family: var(--primaryfont);
        padding: 2rem;
        font-size: 1.3rem;
    }
    .hire{
        width: 23vw;
        height: 8vh;

    }
    .cv{
        width: 30vw;
        height: 8vh;

    }
    .buttons{
        margin-left: 3rem;
        margin-top: -1rem;
    }







    .blogposts{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .post1{
        display: flex;
        flex-direction: column;
        margin-left: -3rem;
     
        margin-top: 0;
        width: 80%;
    }
    .postcontent{
        margin-left: -1rem;
    
        
    }
    .postcontent >h1{
        font-size: 2rem;
        margin-top: 10px;
        margin-left: 1rem;
    }
    .postcontent >p{
        font-size: 1.2rem;
        margin-top: 10px;
        margin-left: 1rem;
        width: 90%;
    }
    .readmore{
        width: 30%;
        margin-left: 1rem;
        height: 2rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .pro{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: -0.8rem;
    }
    .project{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-top: 10px;
      
        
        height: 70vh;
    }
    .project > img{
        height: 30vh;
    }
    .project > button{
        width: 25%;
        font-size: 1.3rem;
    }
    .services{
      
        width: 70%;
        margin-left: 3rem;
       
    }
    .serv{
        width: 100%;
      
        margin-top: 0.3rem;
    }
    .Graphic{
        width: 100%;
    }

    .discoverr{
        color:red;
        font-size: 2rem;

    }
    .myarts{
        font-size: 2rem;
    }


}